#root{
    margin: 5pt;
    padding: 5pt;
}

main{
    background-color:mistyrose
}

div.container{
    direction: flex;
    flex-direction: column;
}

h1{
    font-size: 45pt;
}

button.catButts{
    background-color: turquoise;

}